<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.narlocks.delivery_service_app.activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ExternalTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserSelectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewClientMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewClientProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewServiceProviderMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewServiceProviderProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewServiceProviderServicesActivity"
            android:screenOrientation="portrait" />
        <!-- <activity android:name=".LoginActivity" /> -->
        <activity
            android:name=".NewServiceProviderPortfolioActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".DisplayImageActivity" />
        <activity
            android:name=".NewServiceProviderAreasActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClientDefaultActivity"
            android:label="@string/title_activity_default_client"
            android:screenOrientation="portrait"
            android:theme="@style/ExternalTheme" />
        <activity
            android:name=".SPDefaultActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>